# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
print("Aiman", 2, 9.5, 5>0 )

Aiman 2 9.5 True

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [12]:
print("Aiman", 2, 9.5, 5>0, sep='-' )

Aiman-2-9.5-True

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [5]:
print("aiman", end=' ') 
print(2,  end=' ')
print(9.5, end=' ')
print(5>0)

aiman 2 9.5 True

4) Can a python print function take no value to print???

YES, if we take no value to print, it will not generate error

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [4]:
#person attributes
friend_name= "Mr.Ahmed"
age= 30
height= "5.10 ft"
weight= "70600g"

#EDUCATION
education= "bachelors in law"
year_of_completion= 2005

#PROFESSION
profession= "lawyer"
firm= "The Himalaya Associates"
monthly_income= "200 PKR"

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [7]:
current_year= 2022
passout_year= 2005
result= (current_year-passout_year) #subtract current and passout year
print(result)

17

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [8]:
current_year= 2022
working_since= 2015
result= (current_year-working_since) #subtracting current year with year since he started working
print(result)

7

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [10]:
mothly_income= 200000
one_USD= 213.03 #one dollar equals in pkr
income_in_dollars=(mothly_income/one_USD) #divide 
print (income_in_dollars)

938.8349058818006

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [11]:
mothly_income= 200000
one_USD= 213.03
income_in_dollars= int(mothly_income/one_USD) #using int()-- it will print in integer
print (income_in_dollars)

938

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [6]:
Mr_Ahmed_weight= 70600
weight_type= "in grams"
weight_in_kg= ( Mr_Ahmed_weight/1000)
print(int(weight_in_kg))

70

11) print the year of birth of Mr. Ahmed.

In [18]:
current_year=2022
age= 30
print(current_year - age)

1992

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [1]:
rupees= 100
students= 6
result=(rupees%students) 
print(result)

4